[submodule "submodules/fbeoptions"]
	path = submodules/fbeoptions
	url = https://github.com/mudhairless/fbeoptions
[submodule "submodules/fbefile"]
	path = submodules/fbefile
	url = https://github.com/mudhairless/fbefile
[submodule "submodules/fbestrings"]
	path = submodules/fbestrings
	url = https://github.com/mudhairless/fbestrings
